.contenedorCustomer{
    width: calc(100% - 250px);
    right: 0;
    height: auto;
    position: absolute;
    top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorCustomer > h1{
    font-family: 'Croissant One', cursive;
    font-size: 400%;
    margin-bottom: 40px;
}

.contenedorCardsCustomer{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedorPrestamo{
    width: 82%;
    height: auto;
}

.contenedorPrestamo h2{
    margin-top: 20px;
    color: black;
    text-align: left;
    font-size: 200%;
    font-family: 'Croissant One', cursive;
}

.contenedorGeneralBooksPrestados{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorCartica{
    width: 100%;
}

@media (max-width: 970px) {
    .contenedorCustomer{
        width: calc(100% - 10%);
    }

    
}

@media (max-width: 500px) {
    .contenedorCustomer{
        width: calc(100% - 10%);
    }

    .contenedorCartica{
        margin-left: 50%;
        transform: translateX(-50%);
        width: 120%;
    }

    .cover{
        width: 100%;
        height: 100%;
    }

    .book{
        width: 100%;
        height: 420px;
    }
}

@media (max-width: 382px) {
    .contenedorCustomer{
        width: calc(100% - 10%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedorCartica{
        margin-left: 50%;
        transform: translateX(-50%);
        width: 120%;
    }

    .cover{
        width: 100%;
        height: 100%;
    }

    .book{
        width: 100%;
        height: 320px;
    }
}