.logoNav {
    height: 100%;
}

.logoNav .a-nav {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Mooli", sans-serif;
}

.a-logo-footer .a-footer{
    text-decoration: none;
    list-style: none;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 30px;
    font-family: "Mooli", sans-serif;
}